{{ form_start(form) }}
<div class="row">
    <div class="input-field col s12 l4">
        {{ form_widget(form.eventName, {'attr': {'class': 'validate','placeholder' : "Nom de l'évènement"}}) }}
        {{ form_label(form.eventName) }}
    </div>
</div>
<div class="row">
    <div class="input-field col s12 l4">
        {{ form_widget(form.eventDate) }}
        <input type="text" class="datepicker">
    </div>
    <div class="input-field col s12 l4">
        <input type="text" class="timepicker">
    </div>
    <script>
        $(document).ready(function () {
            var dateNow = new Date();
            $('.datepicker').val('{{ form.vars.value.eventDate | date("l j F Y")}}');
            $('.timepicker').val('{{ form.vars.value.eventDate | date("H:i")}}');
            $('.datepicker').datepicker({
                'onSelect': function (el) {
                    $('.is-selected').addClass("purple");
                },
                'minDate': dateNow,
                'setDefaultDate': true,
                'defaultDate': dateNow,
                'onClose': function () {
                    month = this.date.getMonth() + 1;
                    day = this.date.getDate();
                    year = this.date.getFullYear();
                    console.log(day + ' ' + month + ' ' + year);
                    // select the good month in the select
                    $("#event_eventDate_date_month,#event_eventDate_date_day,#event_eventDate_date_year").children().each(function () {
                        $(this).removeAttr('selected')
                    });
                    $("#event_eventDate_date_month option[value=" + month + "]").attr('selected', 'selected');
                    $("#event_eventDate_date_day option[value=" + day + "]").attr('selected', 'selected');
                    $("#event_eventDate_date_year option[value=" + year + "]").attr('selected', 'selected');
                },
                'format': 'dddd d mmmm yyyy',
            });
            $('.timepicker').timepicker({
                'twelveHour': false,
                'vibrate': true,
                'onCloseEnd': function () {
                    // select the good month in the select
                    $("#event_eventDate_time_hour,#event_eventDate_time_minute").children().each(function () {
                        $(this).removeAttr('selected')
                    });
                    $("#event_eventDate_time_hour option[value=" + this.hours + "]").attr('selected', 'selected');
                    $("#event_eventDate_time_minute option[value=" + this.minutes + "]").attr('selected', 'selected');
                },
            });

            $('.datepicker-date-display').addClass("purple");
            $('.datepicker-cancel').addClass("purple-text");
            $('.datepicker-done').addClass("purple-text");
            $('.timepicker-digital-display').addClass("purple");
            $('.timepicker-close').addClass("purple-text");
        });
    </script>
</div>
<div class="row">
    <div class="input-field col s12">
        {{ form_widget(form.information) }}
        {{ form_label(form.information) }}
    </div>
</div>
<div class="row">
    <div class="input-field col s12 m8 l6">
        <div class="file-field input-field">
            <div class="btn purple">
                <span>{{ form_label(form.fkImageAffiche, "Photo de profil") }}</span>
                {{ form_widget(form.fkImageAffiche, {'attr': {'class': 'validate'}}) }}
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <button class="btn">{{ button_label|default('Save') }}</button>
    </div>
</div>
{{ form_widget(form._token) }}
{{ form_end(form) }}
