{% extends "layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-content">
                <table class="table striped responsive-table centered">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th><i class="material-icons">event</i></th>
                        <th><i class="material-icons">access_time</i></th>
                        <th>Description</th>
                        <th>Date de publication</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in events %}
                        <tr>
                            <td>{{ event.eventName }}</td>
                            <td>{{ event.eventDate|date('d/m/Y') }}</td>
                            <td>{{ event.eventDate|date('H:i') }}</td>
                            <td>{{ event.information|slice(0,30) }}...</td>
                            <td>{{ event.publicationDate|date('H:i d/m/Y') }}</td>
                            <td>
                                <a href="{{ path('event_show', {'id': event.id}) }}"><i class="material-icons">visibility</i></a>
                                <a href="{{ path('event_edit', {'id': event.id}) }}"><i class="material-icons orange-text">edit</i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {#<a href="{{ path('event_new', {"id" : event.fkBar } ) }}">Create new</a>#}
{% endblock %}
