{% extends "layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-content">
                <div class="card-title center">Évènements pour <a href="{{ path('bar_show', {'id': bar.iD}) }}">{{ bar.tradename }}</a></div>
                <table class="table striped responsive-table centered">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th><i class="material-icons">event</i></th>
                        <th><i class="material-icons">access_time</i></th>
                        <th>Description</th>
                        <th>Date de publication</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in events %}
                        <tr>
                            <td>{{ event.eventName }}</td>
                            <td>{{ event.eventDate|date('d/m/Y') }}</td>
                            <td>{{ event.eventDate|date('H:i') }}</td>
                            <td>{{ event.information|slice(0,30) }}...</td>
                            <td>{{ event.publicationDate|date('H:i d/m/Y') }}</td>
                            <td>


                                <a href="{{ path('event_show', {'id': event.id}) }}"><i class="material-icons">visibility</i></a>
                                <a href="{{ path('event_edit', {'id': event.id}) }}"><i class="material-icons orange-text">edit</i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">Pas d'évènements enregistrés</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-action center">
                <a class="purple-text" href="{{ path('event_new',{'id' : bar.iD}) }}">Créer un évènement 🎉</a>
            </div>
        </div>
    </div>

    <a href="{{ path('event_new', {'id' : bar.iD}) }}">Create new</a>
{% endblock %}
