{% extends "layout.html.twig" %}

{% block title %}Création d'un évènement{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    {{ include('event/_form.html.twig', {'button_label': 'Créer'}) }}
                    <div class="card-action">
                        <div class="row">
                            <div class="col s12 m4 center">
                                <a href="{{ path('events_by_bar', {'id': bar_id}) }}">
                                    <button class="btn grey">
                                        Annuler
                                        <i class="material-icons left">arrow_back</i>
                                    </button>
                                </a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
