{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    {{ event.eventName }} <span class="purple-text">{{ event.eventDate|date('H:i') }}</span>
                </div>
                <div class="right-align grey-text">
                    <p>Publié le {{ event.publicationDate|date('j F Y') }}</p>
                </div>
                <div class="flow-text purple-text">
                    {{ event.eventDate|date('j F Y') }}
                </div>
                <div class="row">
                    <div class="col s12 l7">
                        {{ event.information }}
                    </div>
                    <div class="col s12 l5">
                        <img src="{{ asset('build/images/' ~ affichePath) }}" width="100%" class="materialboxed" alt="Logo évènement">
                    </div>
                </div>

                {% if app.user and app.user.roles.0 in ['admin', 'Owner'] %}
                    <div class="card-action">
                        <div class="row">
                            <div class="col s12 m4 center">
                                <a href="{{ path('event_index') }}">
                                    <button class="btn grey">
                                        Liste des évènements
                                        <i class="material-icons left">arrow_back</i>
                                    </button>
                                </a>
                            </div>
                            <div class="col s12 m4 center"><a class="btn"
                                                              href="{{ path('event_edit', {'id': event.id}) }}">Modifier</a>
                            </div>
                            <div class="col s12 m4 center">
                                {{ include('event/_delete_form.html.twig') }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% block scripts %}
        <script>$('.materialboxed').materialbox();</script>
    {% endblock %}
{% endblock %}
