{% extends 'layout.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12 l6 vert-offset-25 arguments hide-on-small-only">

                <div class="row white-text">
                    <h4>Une fois connecté tu pourra :</h4>
                </div>

                <div class="row">
                    <div class="col icon_login"><img src="{{ asset('build/images/star.svg') }}" alt="icone favoris"/></div>
                    <div class="col"><p>Donner un avis !</p></div>
                </div>
                <div class="row">
                    <div class="col icon_login"><img src="{{ asset('build/images/coeurVide.svg') }}" alt="icone favoris"/></div>
                    <div class="col"><p>Enregistrer des favoris !</p></div>
                </div>
                <div class="row">
                    <div class="col icon_login"><img src="{{ asset('build/images/Calendrier.svg') }}" alt="icone Calendrier"/></div>
                    <div class="col"><p>Participer aux evenements !</p></div>
                </div>

                <div>
                    <blockquote class="white-text">
                        Hop Hop, on s'inscris et vite !
                    </blockquote>
                </div>

            </div>
            <div class="col s12 l6 forms vert-offset-15 row">
{#                {{ dump(error) }}#}
                <div class="card small center">
                    <div class="loginForm s12 m8 push-m2 flow-text card-content">
                        <p class="card-title">Connexion</p>
                        <form method="post" action="{{ path('app_login') }}">
                            {% if error %}
                                <div class="red-text">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <div class="row">
                                <div class="col s12">
                                    <div class="input-field">
                                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control validate" required autofocus>
                                        <label for="inputEmail">Email</label>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class="input-field">
                                        <input type="password" name="password" id="inputPassword" class="form-control validate" required>
                                        <label for="inputPassword">Password</label>
                                    </div>
                                </div>
                            </div>
                            <button class="btn waves-effect waves-light purple" type="submit" name="action">Connexion
                            </button>
                        </form>
                    </div>
                </div>
                <div class="card center">
                    <div class="card-content">
                        <form action="{{ path('createUser') }}" method="post">
                            <p class="card-title">Inscription</p>
                            <div class="row">
                                <div class="col s12">
                                    <div class="input-field">
                                        <input id="signupEmail" type="email" class="validate" name="email">
                                        <label for="signupEmail">Email</label>
                                    </div>
                                </div>
                                <div class="col s12 m6">
                                    <div class="input-field">
                                        <input id="first_name" type="text" class="validate" name="first_name">
                                        <label for="first_name">Prénom</label>
                                    </div>
                                </div>
                                <div class="col s12 m6">
                                    <div class="input-field">
                                        <input id="last_name" type="text" class="validate" name="last_name">
                                        <label for="last_name">Nom</label>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class="input-field">
                                        <input id="signupPassword" type="password" class="validate" name="password">
                                        <label for="signupPassword">Password</label>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class="input-field">
                                        <input id="passwordConfirm" type="password" class="validate" name="confirm_password">
                                        <label for="passwordConfirm">Confirmez le mot de passe</label>
                                    </div>
                                </div>
                            </div>

                            <button class="btn waves-effect waves-light purple" type="submit" name="action">Inscription
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
