{% extends "layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col s6">
                <form action="{{ path('search_result') }}" method="get" class="searchForm">
                    <div class="row">
                        <div class="col s1 white-text">
                            <p>Où ?</p>
                        </div>
                        <div class="col s9">
                            <div class="search-wrapper">
                                <input type="search" class="white-text" placeholder="Où boirons nous ?"
                                       id="searchBarText" value="{{ text }}" name="bar_name"/>
                            </div>
                        </div>
                        <div class="col s2">
                            <input type="image" src="{{ asset('build/images/Loupe.svg') }}" class="searchBtn" border="0" alt="Rechercher"/>
                        </div>
                    </div>
                </form>

                {#      bar list#}
                <div class="row">
                    {% for bar in bars %}
                        <div class="col s11">
                            <div class="card">
                                <div class="card-image">
                                    <a class="btn-floating halfway-fab waves-effect waves-light purple">
                                        <i class="material-icons" id="heart_{{ bar.iD}}">favorite_border</i>
                                    </a>
                                </div>
                                <div class="card-content">
                                    <div class="row">
                                        <div class="col">
                                            <span class="card-title">{{ bar.tradename }}</span>
                                        </div>
                                        <div class="col right rate{{ bar.iD }}">
                                            {#Rating stars#}
                                        </div>
                                    </div>
                                    <p>{{ bar.information|slice(0, 140) }}...</p>
                                </div>
                                <div class="card-action">
                                    <a href="{{ path('bar_show', {'id': bar.id}) }}">Accéder au bar</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% if not bars %}
                        <div class="col s11">
                            <div class="card">
                                <div class="card-content center">
                                    <div class="card-title">Aucun résultat trouvé</div>
                                    <div class="grey-text">(╯°□°）╯︵ ┻━┻</div>
                                    Essayez autre chose !
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col s6">
                <div class="row">
                    <div class="card mapContainer">
                        <div class="card-content">
                            <div class="">
                                <div class="card-title">
                                    {#{% include '/Dynamic/five_star_rating.twig' %}#}
                                </div>
                            </div>
                            <div id="map">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {#  API GOOGLE AIzaSyCqd-ooRPsgsYRo_oZ1NG3_kyVjxnkQSyI #}
        <script>
            var map;
            function findMarkers() {
                {% for bar in bars %}
                    {% if not bar.urlMap %}
                        {#If coordinates not in DB, call to google API and add it to the DB a first time#}
                        $.ajax({
                            url: "https://maps.googleapis.com/maps/api/geocode/json?address={{ bar.tradename }}+{{ bar.zipCode }}&key=AIzaSyCqd-ooRPsgsYRo_oZ1NG3_kyVjxnkQSyI",
                            context: document.body
                        }).done(function (response) {
                            var coordinates = response['results']['0']['geometry']['location'];
                            var marker = new google.maps.Marker({position: coordinates, map: map, title: '{{ bar.tradename }}'});
                            marker.setMap(map);

                            $.ajax({
                                url: "{{ path('bar_url_map_add', {'id': bar.id}) }}",
                                method: 'POST',
                                data: {new_url: JSON.stringify(coordinates)},
                                context: document.body
                            }).done(function (response) {
                                console.log(response)
                            });
                        });

                    {% else %}
                        {#            every next time each bar coordinates are retrieved from the DB #}
                        var marker = new google.maps.Marker({
                            position: JSON.parse('{{ bar.UrlMap|raw }}'),
                            map: map,
                            title: '{{ bar.tradename }}'
                        });
                        marker.setMap(map);
                    {% endif %}
                {% endfor %}
            }

            function initMap() {
                var myLatLng = new google.maps.LatLng(49.8983256, 2.2990671);
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 49.895963, lng: 2.2888606},
                    zoom: 13
                });
                findMarkers()
            }

            //gestyion des favoris
            {% if app.user %}
                function initFavorites(){
                    var actualFavBtn;
                    {% for bar in bars %}
                    heart_{{ bar.iD}} = document.getElementById("heart_{{ bar.iD}}");

                        //Gestion de l'affichage des favs
                        var path = "{{ path("favoritesByBar", {'id': 'bar_id'}) }}";
                        path = path.replace("bar_id", {{ bar.id }});
                        loadPath(path, (response) => {
                            if(response) {
                                response.forEach(e =>{
                                    if (e.fkUserId == {{ app.user.id }}) {
                                        heart_{{ bar.iD}}.innerHTML = "favorite";
                                    }
                                    else{
                                        heart_{{ bar.iD}}.innerHTML = "favorite_border";
                                    }
                                });
                            }
                        });
                    {% endfor %}
                }

            initFavorites();
            {% endif %}

            {% if app.user %}
                {% for bar in bars %}
                heart_{{ bar.iD}}.addEventListener('click', function (e) {
                    if(heart_{{ bar.iD}}.innerHTML === "favorite_border"){
                        path = "{{ path('addFavoriteToUser', {'userId' : 'uid', 'barId' : 'bid'}) }}";
                        path = path.replace("bid", {{ bar.id }});
                        path = path.replace("uid", {{ app.user.id }});

                        addFav(path).then( response => {
                            heart_{{ bar.iD}}.innerHTML = "favorite";
                            updateFavorites();
                        });

                    }else{
                        path = "{{ path('deleteFavorite', {"userId" : "uid", "barId" : 'bid'}) }}";
                        path = path.replace("bid", {{ bar.id }});
                        path = path.replace("uid", {{ app.user.id }});

                        deleteFav(path).then(response => {
                            heart_{{ bar.iD}}.innerHTML = "favorite_border";
                            updateFavorites();
                        });
                    }
                });

                $('.rate{{ bar.iD }}').rateYo({
                    maxValue : 5,
                    normalFill: "#A0A0A0",
                    ratedFill: "#9c27b0",
                    fullStar: true,

                    starSize: "20px"
                });
                {% endfor %}
            {% else %}
                {% for bar in bars %}
                    heart_{{ bar.iD}}.addEventListener('click', function (e) {
                    //TODO  Invitation à se connecter
                    console.log("en attendant");
                });
            {% endfor %}
            {% endif %}

            //ajouter un favoris
            function addFav(path){
                return $.ajax({
                    url: path,
                    method: 'POST'
                });
            }

            //enlever un favoris
            function deleteFav(path){
                return $.ajax({
                    url: path,
                    method: 'DELETE'
                });
            }

        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqd-ooRPsgsYRo_oZ1NG3_kyVjxnkQSyI&callback=initMap"
                async defer></script>
{% endblock %}
