{% extends "layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-content text-justify">
                <div class="card-title center">Conditions Générales D'utilisation</div>
                <h5 class="purple-text">Propriété</h5>
                <p class="flow-text">
                    Le site www.shawk.me est la propriété de l’Université Picardie Jules Verne
                </p>

                <h5 class="purple-text">Préambule</h5>
                <p class="flow-text">Mentions légales & Conditions générales d’utilisation
                    Le Site désigne le site internet www.shawk.me édité par la société ln(web).
                    Le terme Utilisateur désigne l’ensemble des internautes, inscrits ou non, qui naviguent sur le site.
                </p>
                <h5 class="purple-text">Champ d’application</h5>
                <p class="flow-text">
                    Les présentes Conditions Générales d’Utilisation régissent les relations contractuelles entre tout
                    utilisateur du site.
                    L’utilisateur est invité à lire avec la plus grande attention le présent document et de renouveler
                    sa lecture à chaque fois qu’il consulte le site.
                    En effet, l’utilisation du site constitue son acceptation des dites conditions générales
                    d’utilisations.
                    Les conditions générales présentées ici peuvent être modifiées afin de prendre en compte des
                    changements liés à la législation française ou la modification de logiciels du site. Une
                    consultation de ces Conditions Générales d’Utilisation doit donc être réalisée régulièrement par
                    l’utilisateur.
                </p>
                <h5 class="purple-text">Droit de propriété intellectuelle</h5>
                <p class="flow-text"> La Société Editrice du site www.shawk.me est le propriétaire exclusif de tous les droits de
                    propriété intellectuelle portant tant sur la structure que sur le contenu du site.
                    Tous les éléments figurant sur le présent site (images, bases de données, marques, illustrations,
                    logos, dessins, modèles, mise en page, documents téléchargeables) sont protégés en tant qu’œuvres de
                    l’esprit par la législation française et internationale sur le droit d’auteur et la propriété
                    intellectuelle. Sauf autorisation préalable et écrite, toute reproduction, représentation,
                    adaptation, modification partielle ou intégrale de tout élément composant le site, par quelque moyen
                    que ce soit, est interdite sous peine de poursuite judiciaire.
                    Toute utilisation dans un cadre professionnel ou commercial ou toute commercialisation de ce contenu
                    auprès de tiers est interdite, sauf accord exprès de la société ln(web).
                </p>
                <h5 class="purple-text">Responsabilité</h5>
                <p class="flow-text">
                    Pour se créer un compte sur notre site, vous devez être âgé d’au moins 18 ans.
                    Les services proposés sont conformes à la législation française en vigueur. Les photographies et les
                    textes reproduits et illustrant les produits et services présentés ne sont pas contractuels. En
                    conséquence, la responsabilité de la société ln(web) ne saurait être engagée en cas d’erreur dans
                    l’une de ces photographies ou l’un de ces textes.
                    Les éventuels liens figurant dans le site et renvoyant vers des sites externes sont fournis à titre
                    informatif. ln(web) ne saurait être tenue pour responsable du contenu de ces sites externes
                    référencés.
                </p>
                <p class="flow-text">Ln(web) décline toute responsabilité en cas de transmission volontaire ou involontaire par
                    l’utilisateur à un tiers des codes d’accès qu’il lui appartient de conserver en lieu sûr et dont
                    l’utilisation par un tiers pourrait entrainer la divulgation, l’altération ou la suppression des
                    données personnelles de l’utilisateur.
                    ln(web) s’engage à garantir la confidentialité des données à caractère personnel et veiller à ce que
                    les personnes autorisées à traiter les données à caractère personnel :
                    S’engagent à respecter la confidentialité ou soient soumises à une obligation légale appropriée de
                    confidentialité ;
                    Reçoivent la formation nécessaire en matière de protection des données à caractère personnel ;
                    Prennent en compte les principes de protection des données par défaut.</p>

                <h5 class="purple-text">Informations nominatives et données personnelles</h5>
                <p class="flow-text">
                    Ln(web) s’engage à respecter la réglementation en vigueur applicable au traitement de données à
                    caractère personnel et, en particulier, le règlement (UE) 2016/679 du Parlement européen et du
                    Conseil du 27 avril 2016 applicable à compter du 25 mai 2018 (ci-après, « le règlement européen sur
                    la protection des données » ou RGPD).
                    Données personnelles
                    Ln(web) traite uniquement les données à caractère personnel de ses clients.
                    Ces données font l’objet d’un traitement qui a pour finalité de permettre à l’utilisateur :
                    De se créer un espace personnel
                    De participer à des évènements
                    De poster des commentaires
                    D’ajouter des bars en favoris
                </p>

                <h5 class="purple-text"> Droit d’accès et de rectification</h5>
                <p class="flow-text">
                    Conformément à la loi « Informatique et Libertés » du 6 janvier 1978 modifiée par la loi du 6 août
                    2004, l’utilisateur dispose du droit d’accès, de modification des informations qui le concernent
                </p>
                <h5 class="purple-text">Périodes de conservation</h5>
                <p class="flow-text">Ces données seront conservées jusqu’à la suppression du compte.</p>

                <h5 class="purple-text">Cookies</h5>
                <p class="flow-text"> Lorsque vous consultez notre site, des données de trafic et des fichiers de cookies sont stockées
                    sur votre ordinateur aux fins de procéder, en interne, à des analyses de fréquentation des pages
                    d’informations du site afin d’en améliorer le contenu ainsi qu’à établir des données statistiques
                    (pages consultées, heures de consultation, etc…).
                    Vous pouvez gérer les paramètres d’enregistrement de cookies à partir de vos navigateurs.
                </p>
                <br>
                <a href="{{ path('Index') }}">Retour à l'accueil</a>
            </div>
        </div>
    </div>
{% endblock %}