{% extends "layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-content center">
                <p>Erreur 404</p>
                <p>La page que vous cherchez n'existe pas !</p>
                <a href="{{ path('Index') }}">Retour à l'accueil</a>
            </div>
        </div>
    </div>
{% endblock %}