{% extends "layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="container-flex">
        <div class="row center-align">
            <div class="col s12">
                <img src="{{ asset('build/images/logo_large.png') }}" class="logo_large" alt="Logo grand"/>
            </div>
        </div>


        <div class="row">
            <form action="{{ path('search_result') }}" method="get" class="searchForm" autocomplete="off">
                <div class="col s11 m6 offset-m3 input-field">
                    <label for="search_bar" class="active">Où boirons nous ?</label>
                    <input type="text" class="autocomplete white-text" id="search_bar" placeholder="" name="bar_name"
                           autofocus/>
                </div>
                <div class="col s1">
                    <input type="image" src="{{ asset('build/images/Loupe.svg') }}" class="searchBtn" border="0"
                           alt="Rechercher"/>
                </div>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#search_bar').autocomplete({data: {},
                limit: 8,
                onAutocomplete: function () {
                    $('.searchForm').submit()
                }
            });
            var instance = M.Autocomplete.getInstance($('#search_bar'));

            $.ajax({
                url: "{{ path('bars_json') }}",
            }).done(function (response) {
                instance.updateData(response);
            }).fail(function (response) {
                console.log('KO - 65a4zd12qsd65');
            });
        });
    </script>
{% endblock %}