{% extends "layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    {% for event in events %}
    <p>
        {{ event.eventName }}
    </p>
    {% endfor %}
{% endblock %}
