body {
    height: 100vh;
    background-color: #120127;
    background-size: cover;
}

.container, .row{
    margin-bottom: 0!important;
}

.vertical-center {
    margin-top: 25%;
}
.vert-offset-15{
    margin-top: 15%;
}
.vert-offset-25{
    margin-top: 25%;
}

.main_logo {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mt-8{
    margin-top: 8rem;
}

.text-justify{
    text-align: justify;
}

.inline{
    display: inline;
}

.timepicker-canvas line, circle {
    stroke: #9c27b0 !important;
    fill: #9c27b0 !important;
}
