.arguments p{
    font-size: 2rem;
    color : white;
    margin-top: 0;
    margin-bottom: 3rem;
}

.arguments img{
    position: relative;
    max-width: 5rem;
    float: left;
    margin-left: 2rem;
    margin-right: 1rem;
    width: 3rem;
}

.forms p{
    font-size: 2rem;
}
