@media only screen and (max-width: 600px) {
    .logo_large{


    }
}

.logo_large{
    width: 33%;
    pointer-events: none;
    margin-top: 8rem;
}

#sidebar{
    position: absolute;
}

.searchBtn{
    transition: width 0.2s;
    width: 64px;
}