#slide-out{
    background-color: #222222;
    width: 10rem;
    float: left;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 1;
}

#slide-out::-webkit-scrollbar{
    display: none;
}

#slide-out .logo{
    position: relative;
    display: block;
    margin: auto;
    padding-bottom: 1rem;
    width: 80%;
    border-bottom: 1px #999 solid;
}

#slide-out .fav{
    color: white;
}

#slide-out ul{
    padding: 0;
    margin: 1rem auto 0 auto;
    list-style: none;
    float: none;
    clear: both;
    width: 80%;
}

#slide-out ul .fav{
    margin-bottom: 1rem;
}

#slide-out ul .fav img{
    background-color: white;
    border-radius: 50%;
    transition: all 0.3s ease;
    -webkit-animation: all 0.3s ease;

    width: 100%;
}

#slide-out ul .fav img:hover{
    border-radius: 20%;
    transition: all 0.3s ease;
    -webkit-animation: all 0.3s ease;
}

#slide-out ul .fav::after{
    transition: all 0.1s;
    content: attr(data-content);
    background-color: transparent;
    border-radius: 2px;
    opacity: 0;

    transform: translateY(-50%);

    float: left;
    margin-top: -50%;
    margin-left: 120%;
    padding: 2px 5px ;

    word-wrap: normal;
    max-width: 15rem;
    white-space: nowrap;

    font-size: 1.5rem;

    pointer-events: none;
}

#slide-out ul .fav:hover::after{
    transition: opacity 0.1s;
    content: attr(data-content);
    background-color: #000;
    border-radius: 2px;
    opacity: 100;

    z-index: 999;

    transform: translateY(-50%);

    float: left;
    margin-top: -50%;
    margin-left: 120%;
    padding: 2px 5px ;

    word-wrap: break-word;
    max-width: 15rem;
    white-space: nowrap;

    font-size: 1.5rem;
    pointer-events: none;
}

