<form method="post" action="{{ path('bar_delete', {'id': bar.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bar.id) }}">
    <button class="btn red">
        Delete
        <i class="material-icons right">delete</i>
    </button>
</form>
