{{ form_start(form) }}
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12 l4">
                    {#<input placeholder="Mon bar" id="first_name" type="text" class="validate">#}
                    {{form_widget(form.tradename, {'attr': {'class': 'validate'}}) }}
                    {{form_label(form.tradename, "Nom du bar")}}
                </div>
                <div class="input-field col s12 l10 ">
                    {{ form_widget(form.address, {'attr': {'class': 'validate'}}) }}
                    {{form_label(form.address, "Adresse")}}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 l6">
                    {{ form_widget(form.zipCode, {'attr': {'class': 'validate'}}) }}
                    {{form_label(form.zipCode, "Code Postal")}}
                </div>
                <div class="input-field col s12 l6">
                    {{ form_widget(form.city, {'attr': {'class': 'validate'}}) }}
                    {{ form_label(form.city, "Ville") }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(form.information, {"attr":{"max-lentgh" : "400"}}) }}
                    {{ form_label(form.information, "Description de votre bar")}}
                </div>
            </div>
            <div class="row">
                <div class="col s12 l4">
                    <div class="file-field input-field">
                            <div class="btn purple">
                                <span>File</span>
                                {{ form_widget(form.fkImageLogo) }}
                            </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 l12 center">
                    <button class="btn waves-effect green waves-light" type="submit" name="action">{{button_label}}
                        <i class="material-icons right">add</i>
                    </button>
                </div>
            </div>
            {{ form_widget(form._token) }}
        </form>
    </div>
{{ form_end(form) }}