{% extends "layout.html.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    {{ title }}
                </div>
                <table class="highlight centered responsive-table">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Code postal</th>
                        <th>Ville</th>
                        <th>Addresse</th>
                        <th>Approuvé</th>
                        <th>
                            Modifier
                        </th>
                        <th>Évènements</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for bar in bars %}
                        <tr>
                            <td><a href="{{ path('bar_show', {'id': bar.id}) }}">{{ bar.tradename }}</a></td>
                            <td>{{ bar.information|slice(0, 30) }}...</td>
                            <td>{{ bar.zipCode }}</td>
                            <td>{{ bar.city }}</td>
                            <td>{{ bar.address }}</td>
                            <td>{{ bar.approved ? 'Oui' : 'Non' }}</td>
                            <td>
                                <a class="purple-text" href="{{ path('bar_edit', {'id': bar.id}) }}"><i class="material-icons">edit</i></a>
                            </td>
                            <td><a href="{{ path('show_bar_event', {'id': bar.id}) }}"><i class="material-icons">visibility</i></a></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="12">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-action">
                <a href="{{ path('bar_new') }}" class="green btn waves-effect waves-light" name="action">
                    Créer un nouveau bar
                    <i class="material-icons right">add</i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}