{% extends "layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bar.css') }}">
{% endblock %}

{% block body %}

    <div class="container white-text">
        <div class="row">
            <div class="col s12 center">
                <h1>
                    {{ bar.tradename }}
                    {% if is_favorite %}
                        <a href="#">
                            <i class="material-icons purple-text" id="deleteFavorite">favorite_border</i>
                        </a>
                    {% endif %}
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <div class="col s12 input-field">
                    {% if app.user and app.user.roles.0 in ['admin', 'Owner'] %}
                        <a href="{{ path('events_by_bar', {'id': bar.iD}) }}"><button class="btn-large waves-effect waves-light purple btn-small">Gérer mes évènements<i class="material-icons right">settings</i></button></a>
                        <a href="{{ path('bar_edit', {'id': bar.iD }) }}"><button class="btn-large waves-effect waves-light purple btn-small">Modifier le bar<i class="material-icons right">edit</i></button></a>
                    {% endif %}
                </div>
                <div class="col s12">
                    <div class="col s6">
                        {% if logoPath is not null %}
                            <img  src="{{asset('build/images/' ~ logoPath)}}" alt="icone du Bar" class="white" width="100%"/>
                        {% else %}
                            <img  src="{{asset('build/images/pubPlaceholder.png')}}" class="white" alt="icone du Bar" width="100%"/>
                        {% endif %}
                    </div>
                    <div class="col s6">
                        <div>
                            <p>{{ bar.address }}</p>
                            <p>Adresse : {{ bar.zipCode }} {{ bar.city }}</p>
                            <p>&laquo;{{ bar.information }}&raquo;</p>

                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <p>
                        Événements à venir :
                    </p>
                    {% for event in events %}
                        <div class="col s12 m8 l6 black-text">
                            <div class="card">
                                <div class="card-content">
                        <div class="card-image">
                        {% if event.afficheFilepath %}
                            <img src="{{ asset('build/images/' ~ event.afficheFilepath ) }}" alt="affiche de l'evenement {{  event.eventName }}" height="100vh"/>
                        {% else %}
                            <img src="{{ asset('build/images/Calendrier.svg') }}" alt="affiche de l'evenement {{  event.eventName }}" height="100vh"/>
                        {% endif %}
                        </div>
                        <span class="card-title">
                                        <a href="{{ path('event_show', {'id' : event.id}) }}">
                                            {{ event.eventName }}
                                        </a>
                                    </span>
                                    <p>{{ event.information }}</p>
                                    <blockquote>{{ event.eventDate|date('d M Y') }}</blockquote>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col s6">
                <div id="map"></div>
            </div>
        </div>
    </div>

{#
TODO If seen by the owner :
delete button
{{ include('bar/_delete_form.html.twig') }}
edit button
<a href="{{ path('bar_edit', {'id': bar.id}) }}">editer le bar</a>

bar list : useless
<a href="{{ path('bar_index') }}">Liste des bars enregistrés</a>
#}
    <script>
        {#
        Find the address and the lat/long from a Name
         https://maps.googleapis.com/maps/api/geocode/json?address=Baobar&key=AIzaSyCqd-ooRPsgsYRo_oZ1NG3_kyVjxnkQSyI
        Find image, note and opening from Name
        https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Baobar&inputtype=textquery&fields=photos,formatted_address,name,rating,opening_hours,geometry&key=AIzaSyCqd-ooRPsgsYRo_oZ1NG3_kyVjxnkQSyI
        #}
        var map;

        $.ajax({
            url: "https://maps.googleapis.com/maps/api/geocode/json?address={{ bar.tradename }}&key=AIzaSyCqd-ooRPsgsYRo_oZ1NG3_kyVjxnkQSyI",
            context: document.body
        }).done(function(response) {
            initMap(response['results']['0']['geometry']['location']);
        });

        function initMap(coordinates) {
            map = new google.maps.Map(document.getElementById('map'), {
                center: coordinates,
                zoom: 15
            });
            var marker = new google.maps.Marker({position: coordinates, map: map});
        }

        $(document).ready(function () {
            $('#deleteFavorite').on('click', function () {
                $.ajax({
                    url: "{{ path('deleteFavorite', {'barId': bar.iD, 'userId': app.user.id}) }}",
                    method: 'DELETE'
                }).done(function () {
                    $('#deleteFavorite').hide()
                }).fail(function (error) {
                    console.log(error)
                });

            })
        })

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqd-ooRPsgsYRo_oZ1NG3_kyVjxnkQSyI"
            async defer></script>
{% endblock %}
