{% if bars.0 is defined %}
    {{ bars.0.tradename }}
    <div class="purple-text right">
        <div class="inline">
{#          replace by "star" to fill it#}
            <i class="material-icons star-1">star_border</i>
            <div class="inline">
                <i class="material-icons star-2">star_border</i>
                <div class="inline">
                    <i class="material-icons star-3">star_border</i>
                    <div class="inline">
                        <i class="material-icons star-4">star_border</i>
                        <div class="inline">
                            <i class="material-icons star-5">star_border</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<script>
    $(".star").hover(
        function() {
            $( this ).addClass( "hover" );
            console.log('hovering')
        }, function() {
            $( this ).removeClass( "hover" );
            console.log('Or NOTTTT')
        }
    );
</script>