<ul id="slide-out" class="sidenav sidenav-fixed">
    <a class="fav tooltipped" data-position="right" data-tooltip="Accueil" href="{{ path('Index') }}">
        <img src="{{ asset('build/images/logo_court.svg') }}"
             alt="Logo de Shawk. Version compact" class="logo">
    </a>
    <ul id="favListe">
        {# si un user est connecté #}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="fav tooltipped profil" data-position="right" data-tooltip="">
                <a href="{{path('readUser', {'id': app.user.id })}}">
                    <img src="{{ asset('build/images/bonhomme.svg') }}" alt="Logo utilisateur">
                </a>
            </li>
            <li class="fav tooltipped" data-position="right" data-tooltip="Déconnexion">
                <a href="{{ path('app_logout') }}"><img src="{{ asset('build/images/connexion.svg') }}"
                                                        alt="icone de connexion" style="transform: rotateZ(180deg)"></a>
            </li>
            {# Sinon #}
        {% else %}
            <li class="fav">
                <a class="tooltipped" data-position="right" data-tooltip="Connexion/Inscription"
                   href="{{ path('app_login') }}">
                    <img src="{{ asset('build/images/connexion.svg') }}" alt="icone de connexion">
                </a>
            </li>
        {% endif %}
    </ul>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger purple-text"><i class="material-icons">menu</i></a>

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('.modal').modal();
            $("li.profil").attr('data-tooltip', "Mon profil <div><a href='{{ path('Index') }}'>{% if app.user %}{{ app.user.email }}{% endif %}</a></div>");
            $('.tooltipped').tooltip();
            $('.sidenav').sidenav();

            var instance = M.Tooltip.getInstance($("li.profil"));
        });

        var favListe = document.getElementById("favListe");
        {% if app.user %}

        updateFavorites();

        function getBars(id, callback = () => {
            console.warn("default")
        }) {
            var path = "{{ path("getAllBars") }}";
            loadPath(path, (bar) => {
                if (bar) {
                    console.log(bar);
                    callback(barReturn);
                } else {
                    console.log("error in getbars");
                }
            });
        }

        function loadPath(path, callback = (p = "void") => {
            return p;
        }) {
            $.ajax({
                type: "GET",
                url: path,
                dataType: 'json'
            }).done((res) => {
                callback(res);
            });
        }

        function loadFavorites() {

            return $.ajax({
                type: "GET",
                url: "{{ path("usersFavorite", {'id': app.user.id}) }}",
                dataType: 'json'
            });

        }

        function updateFavorites() {
            // favListe.innerHTML = "";
            loadFavorites().then(response => {
                if (response) {
                    response.forEach(bar => {

                     var li = document.createElement("li");
                     li.classList.add("fav");
                     li.setAttribute("data-content", bar.tradename);

                     //le lien
                     var link = document.createElement("a");
                     var path = "{{ path("bar_show", {'id': 'bar_id'}) }}";
                     path = path.replace("bar_id", bar.iD);
                     //link.setAttribute("style",'height : 120px;');

                     link.setAttribute("href", path);

                     //l'image
                     var image = document.createElement("img");
                     if (!bar.logoPath)
                         image.setAttribute("src", "{{ asset('build/images/pubPlaceholder.png') }}");
                     else{
                         image.setAttribute("src", bar.logoPath);
                     }


                     image.setAttribute("alt", "image " + bar.tradename);

                     link.appendChild(image);

                     li.appendChild(link);


                     favListe.appendChild(li)


                    });
                }
            });
        }

        {% endif %}


    </script>
{% endblock %}