{{ form_start(form) }}
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12 l4">
                {#<input placeholder="Mon bar" id="first_name" type="text" class="validate">#}
                {{form_widget(form.firstName, {'attr': {'class': 'validate'}}) }}
                {{form_label(form.firstName, "Prénom")}}
            </div>
            <div class="input-field col s12 l10 ">
                {{ form_widget(form.lastName, {'attr': {'class': 'validate'}}) }}
                {{form_label(form.lastName, "Nom")}}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 l6">
                {{ form_widget(form.email, {'attr': {'class': 'validate'}}) }}
                {{form_label(form.email, "adresse email")}}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 l4">
                {{ form_widget(form.birthDate) }}
                <input type="text" class="datepicker">
                {{ form_label(form.birthDate, "Date de naissance") }}
            </div>
        </div>
        <div class="row">
            <div class="col s12 l4">
                <div class="file-field input-field">
                    <div class="btn purple">
                        <span>File</span>
                        {{ form_widget(form.fkProfilPicture) }}
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l12 center">
                <button class="btn waves-effect green waves-light" type="submit" name="action">{{button_label}}
                    <i class="material-icons right">check</i>
                </button>
            </div>
        </div>
        {{ form_widget(form._token) }}
    </form>
</div>

<script>
    $(document).ready(function () {
        var dateNow = new Date(Date.now());
        var datePicker = $('.datepicker');
        datePicker.datepicker({
            'onSelect': function (el) {
                $('.is-selected').addClass("purple");
            },
            'maxDate': dateNow,
            'minDate': new Date('01/01/1900'),
            'setDefaultDate': true,
            'yearRange': 70,
            'defaultDate': new Date({{ form.vars.value.birthDate}}000),
            'onClose': function () {
                timestamp = this.date.getTime().toString();
                console.log(timestamp);
                timestamp = timestamp.slice(0, timestamp.length-3);
                console.log(timestamp);
                $("#user_birthDate").attr('value', timestamp);
            },
            'format': 'dd/mm/yyyy',
        });
        $('.datepicker-date-display').addClass("purple");
        $('.datepicker-cancel').addClass("purple-text");
        $('.datepicker-done').addClass("purple-text");
    });
</script>
{{ form_end(form) }}