{% extends "layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <br class="mt-8">
        <div class="card">
            <div class="card-content center">
                <p>Votre compte à été créé avec succès ! 👌</p>
                <a href="{{ path('Index') }}">Retour à l'accueil</a>
            </div>
        </div>
    </div>
{% endblock %}