{% extends "layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-content">
                <div class="card-title">Liste des Shawkers</div>

                <table>
                    <thead>
                    <tr>
                        <th>
                            Prénom
                        </th>
                        <th>
                            Nom
                        </th>
                        <th>
                            Email
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for usr in users %}
                        <tr>
                            <td>
                                {{ usr.getFirstName }}
                            </td>
                            <td>
                                {{ usr.getLastName }}
                            </td>
                            <td>
                                {{ usr.getEmail }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}