{% extends "layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-content">
                <div class="card-title center">
                    {% if profilPic %}
                        <img src="{{ '/build/images/' ~ profilPic }}" alt="" class="circle">
                    {% else %}
                        <img src="https://via.placeholder.com/150" alt="" class="circle">
                    {% endif %}
                    <p>{{ user.firstname|capitalize }} {{ user.lastname|capitalize }}</p>
                </div>
                <span class="right grey-text">inscrit depuis
                    le {{ user.signupDate|date('d/m/Y') }}</span>
                {{ include('Users/_form.html.twig', {'button_label': 'Enregistrer'}) }}
            </div>
        </div>
        <footer class="page-footer purple darken-3">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Shawk.me</h5>
                        <p class="grey-text text-lighten-4">Un site de d'échange qui vous est proposé par :
                        <ul>
                            <li>Simon Dormeau</li>
                            <li>Samir Alicherif</li>
                            <li>Alexis Chirat</li>
                            <li>Clément Bonvalet</li>
                        </ul>
                        </p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Liens utiles</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="{{ path('Index') }}">Accueil</a></li>
                            <li><a class="grey-text text-lighten-3" href="{{ path('Contact') }}">Contact</a></li>
                            <li><a class="grey-text text-lighten-3" href="{{ path('CGU') }}">CGU</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © {{ 'now'|date('Y') }} Shawk.me
                    <a class="grey-text text-lighten-4 right" href="//materializecss.com">Basé sur MaterializeCSS</a>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}